.pdu_widget-body {
  width:300px;
  height:200px;
  color:white;
  background-color: rgb(128, 175, 252);
  box-shadow: rgba(0,0,0,0,1) 0px 2px 5px 0px;
}

.pdu_tablecell {
  background-color: rgb(131, 177, 252);
  font-size: 20px;
  margin-top:50px;
  text-align:center;
  height:20px;
}

.pdu_content {
  max-width:50px;
  text-align:center;
  margin:auto;
}

.pdu_label {
  color:#e0e3e5;
  background-color:rgb(114, 154, 219);
  font-size: 62.7px;
  font-family: helvetica-neue;

}
