.App {
    background: -webkit-linear-gradient(#EB5757, #D59152);
    background: -o-linear-gradient(#EB5757, #D59152);
    background: -moz-linear-gradient(#EB5757, #D59152);
    background: linear-gradient(#EB5757, #D59152) fixed;
    min-height: 1000px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


section ul {
  padding: 10px;
}

section li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
}

.dataSection {
  display: inline-block;
  margin-left: -500px;
  margin-top: -450px;
  top:50%;
  left:50%;
  position:fixed;
}

.gridrow {
  padding-top:50px;
}

 .gridrow:nth-child(even) {
  padding-left:100px;
}
